.chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 1px;
  height: 450px;
  width: 100%;
  padding: 5px 10px;
}

.chart-x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  padding: 5px 10px;
  text-align: center;
}

.chart-x .ascii {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

[class*=bar]:not(.progress-bar) {
  border-radius: 5px 5px 0 0;
  transition: all 0.6s ease;
  /* background-color: #ff4136; */
  grid-row-start: 1;
  grid-row-end: 101;

  display: grid;
  grid-gap: 3px;
  justify-content: center;
}

[class*=bar]:not(.progress-bar) .block, [class*=bar]:not(.progress-bar) .top .chart-subtitles .block, .chart-subtitles .top {
  width: 50px;
}

[class*=bar]:not(.progress-bar) .block, .chart-subtitles .block {
  background-color: #686868;
}

[class*=bar]:not(.progress-bar) .block.skill, .chart-subtitles .block.skill {
  background-color: #0095f7;
}

[class*=bar]:not(.progress-bar) .block.using, .chart-subtitles .block.using {
  background-color: #fec017;
}

[class*=bar]:not(.progress-bar) .top, .chart-subtitles .top {
  width: 50px;
  height: 25px;
  border-bottom: solid 25px #686868;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
  margin-bottom: -25px;
  transform: translateY(17px);
}

[class*=bar]:not(.progress-bar) .top.using, .chart-subtitles .top.using {
  border-bottom: solid 25px #fec017;
}

.chart-subtitles {
  display: flex;
}

.chart-subtitles .block {
  height: 25px;
  width: 25px;
}

.chart-subtitles .legend {
  display: flex;
  color: #686868;
  align-items: center;
  margin-right: 1rem;
}

.chart-subtitles .legend span {
  margin-right: 0.5rem;
}

.chart-subtitles .top {
  width: 24px;
  height: 12px;
  border-bottom: solid 12px #fec017 !important;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  margin-bottom: -25px;
  transform: translateY(-10px);
}

.bar-1 {
  grid-row-start: 10;
}

@media (max-width: 720px) {
  .chart {
    grid-template-rows: repeat(45, 1fr);
    height: 265px;
  }

  .block {
    height: 25px;
    width: 25px;
  }

  [class*=bar]:not(.progress-bar) .top {
    transform: translateY(-26px);
  }
}