.ps-2-5 {
  padding-left: 0.75rem !important;

}

.pe-2-5 {
  padding-right: 0.75rem !important;
}

@media (min-width: 768px) {
  .ps-md-2-5 {
    padding-left: 0.75rem !important;
  }

  .pe-md-2-5 {
    padding-right: 0.75rem !important;
  }

  .no-stretch {
    width: 100%;
  }
}

.primary { color: #d0ff01; }
.secondary { color: #0095f7; }
.terciary { color: #fec017; }
.color-4 { color: #fe2c2c; }
.color-5 { color: #00ffa7; }
.gray { color: #686868; }

/*
.dashed-border {
  border: dashed 4px #000;
  border-image-source: url("../../../public/assets/border-gray-5.png");
  border-image-slice: 2;
  border-image-repeat: round;
}
*/

.dashed-border--top {
  border-top: dashed 4px #000;
  border-image-source: url("../../../public/assets/border-gray-5.png");
  border-image-slice: 2;
  border-image-repeat: round;
}

.dashed-border--right {
  border-right: dashed 4px #000;
  border-image-source: url("../../../public/assets/border-gray-5.png");
  border-image-slice: 2;
  border-image-repeat: round;
}

.dashed-border--bottom {
  border-bottom: dashed 4px #000;
  border-image-source: url("../../../public/assets/border-gray-5.png");
  border-image-slice: 2;
  border-image-repeat: round;
}

.dashed-border--left {
  border-left: dashed 4px #000;
  border-image-source: url("../../../public/assets/border-gray-5.png");
  border-image-slice: 2;
  border-image-repeat: round;
}

/* .badge {
  left: -6px;
  top: -13px;
  position: absolute;
  text-align: center;
  border-radius: 0;
  color: #d0ff01;
  padding: 0;
  font-size: 30px;
}

.badge em {
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  color: #686868;
  font-size: 18px;
} */

.badge.primary { color: #d0ff01 !important; }
.badge.secondary { color: #0095f7 !important; }
.badge.terciary { color: #fec017 !important; }
.badge.color-4 { color: #fe2c2c !important; }
.badge.color-5 { color: #00ffa7 !important; }
.badge.gray { color: #686868 !important; }

em.primary { color: #d0ff01 !important; }
em.secondary { color: #0095f7 !important; }
em.terciary { color: #fec017 !important; }
em.color-4 { color: #fe2c2c !important; }
em.color-5 { color: #00ffa7 !important; }
em.gray { color: #686868 !important; }



.section.corporate .about-icons a {
  display: flex;
  text-decoration: none;
  color: #666666;
  align-items: start;
}

.section.corporate .about-icons span {
  font-size: 12px;
  font-family: 'Roboto Condensed';
}



.section.blockchain a, .section.blockchain em {
  color: #ff04b4;
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
}

.section.blockchain .detail-row {
  margin-top: 40px;
}

.section.blockchain .detail-row .list div {
  margin-bottom: 0.5rem;
}

.section.blockchain .detail-row .current-skill {
  border: 1px solid #00ffa7;
}

.section.blockchain h1 {
  font-size: calc(48.0006px);
  font-weight: 700;
  line-height: 1.2em;
  color: #181818;
}

.section.blockchain h3 {
  font-size: calc(24.0012px);
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 0.8em;
}

.section.blockchain table tr td {
  padding: 5px;
  line-height: 1.47;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.section.blockchain tr.punk-history-row-offer {
  background: #d6adad;
}

.section.blockchain tr.punk-history-row-bid {
  background: #b8a7ce;
}

.section.blockchain tr.punk-history-row-sold {
  background: #adc9d6;
}

.section.blockchain tr.punk-history-row-claim {
  background: #add6b8;
}

.section.blockchain article {
  text-align: justify;
}

.section.blockchain .footer {
  margin-top: 40px;
  font-size: 12px;
  color: #272727;
}

.section.corporate .footer {
  margin: 20px;
  font-size: 12px;
  color: #272727;
}

.no-stretch {
  width: 50%;
}

.project-button-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .no-stretch {
    width: 100%;
  }
}